
@{
    ViewData["Title"] = "Destinations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

       
        

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/madrid.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Madrid", "Flight")</h1>
                      
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/maldive.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Maldive", "Flight")</h1>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/bolivia.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Bolivia", "Flight")</h1>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                     <img src="~/img/roma.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Roma", "Flight")</h1>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                     <img src="~/img/viena.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Viena", "Flight")</h1>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/singapore.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>@Html.ActionLink("Singapore", "Flight")</h4>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/dubai.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Dubai", "Flight")</h1>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/tenerife.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("Tenerife", "Flight")</h1>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/newyork.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h1>@Html.ActionLink("New York", "Flight")</h1>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </section>

